<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider"><a href="#"><img src="../../assets/images/mus.jpg" alt=""></a></section>
    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
       
      </section>
      <section id="latest">
        <article>
          <figure>
            <ul class="clear">
              <li class="one_third"><img src="C:\Users\Dipti\Pictures\1.jpg" width="290" height="180" alt=""></li>
              <li class="one_third"><img src="C:\Users\Dipti\Pictures\2.jpg" width="290" height="180" alt=""></li>
              <li class="one_third lastbox"><img src="C:\Users\Dipti\Pictures\3.jpg" width="290" height="180" alt=""></li>
            </ul>
            <figcaption><a href="#">View All Our Recent Work Here &raquo;</a></figcaption>
          </figure>
        </article>
      </section>
      <!-- / latest work -->
    </div>
    <!-- main content -->
    <div id="content">
      <section id="posts" class="last clear">
        <ul>
          <li>
            <article class="clear">
              <figure><img src="../../assets/images/bdaypic.jpg" alt="">
                <figcaption>
                  <h2>Birthday</h2>
                  <p>
                  <p><a href="birthday.com" title="birthday"></a>.Birthday Party for children  and adult of every age with a guarantee that not as single moment would be dull .</p>
                  <footer class="more"><a href="#">Start Organizing &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
          <li class="last">
            <article class="clear">
              <figure><img src="../../assets/images/ds.jpg" alt="">
                <figcaption>
                  <h2>Wedding</h2>
                  <p>It's time to celebrate perfect wedding by hiring professional event organizer. <a href="#"></a>.</p>
                     <footer class="Start Organizing"><a href="#">Start Organizing &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
          <li>
            <article class="clear">
              <figure><img src="../../assets/images/download.jpg" alt="">
                <figcaption>
                  <h2>Corporate Meetings</h2>
                  <p>
                  <p><a href="birthday.com" title="Corporate"></a>.News, trends, and best practices for managing and planning corporate meetings and incentives .</p>
                  <footer class="Start Organizing"><a href="#">Start Organizing &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
          <li>
            <article class="clear">
              <figure><img src="../../assets/images/5.jpg" alt="">
                <figcaption>
                  <h2>Music Events</h2>
                  <p>
                  <p><a href="birthday.com" title="Music"></a>.Whether it is for a wedding, birthday, private or business party, a convention or public events, the goal of Event Music Planner is to provide an unforgettable 
 .</p>
                  <footer class="more"><a href="#">Start Organizing &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
        </ul>
      </section>
    </div>
    <!-- right column -->
    <!-- / content body -->
  </div>
</div>