<div class="login-box L3">
  <h2>Social Login</h2>
  <a href="#" class="social-button" id="facebook-connect" (click)="facebookLogin()"> <span>Connect with Facebook</span></a>
  <a href="#" class="social-button" id="google-connect" (click)="googleLogin()"> <span>Connect with Google</span></a>
  <a href="#" class="social-button" id="linkedin-connect" (click)="linkedinLogin()" > <span>Connect with LinkedIn</span></a>
</div>
<div>
  <img src='{{ user.photoUrl }}'>
<div>
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>
</div>